<div class="card">
    <div class="card-header">
        Complete the form
    </div>
    <div class="card-body">
        <form [formGroup]="stepperForm">
            <div class="firstPage" *ngIf="stepperPage == 1">
                <input formControlName="inputText" class="form-control" type="text" placeholder="Input your text">
                <input 
                formControlName="inputNumber" 
                class="form-control" type="number" 
                placeholder="Input your number"
                pattern="\d*" 
                oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                
                <div class="input-group">
                    <span class="input-group-text">Start Date</span>
                    <input 
                    formControlName="startDate" 
                    type="date" 
                    class="form-control"
                    (change)="onStartDateChange()">
                    <span class="input-group-text">End Date</span>
                    <input 
                    formControlName="endDate" 
                    type="date" class="form-control"
                    [min]="minEndDate">
                </div>
    
                <mat-form-field>
                    <mat-label>Single Select</mat-label>
                    <mat-select formControlName="singleSelect">
                    @for (option of optionList; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Multi Select</mat-label>
                    <mat-select formControlName="multiSelect" multiple>
                    @for (option of optionList; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>
    
                <label class="form-label"> Is the default button checked ?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="isDefaultRadioOptionChecked" [value]="true" name="isDefaultRadioOptionChecked" id="exampleRadios1"  checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="isDefaultRadioOptionChecked" [value]="false" name="isDefaultRadioOptionChecked" id="exampleRadios2" value="radioOption2">
                    <label class="form-check-label" for="exampleRadios2">
                        Second radio
                    </label>
                </div>
            </div>
            
            <div class="secondPage" *ngIf="stepperPage == 2">
                <div class="form-check" *ngFor="let option of optionList">
                    <input class="form-check-input" 
                    type="checkbox" 
                    [value]="option" 
                    [checked]="checkedOptions.value.includes(option)"
                    (change)="onCheckboxChange($event, option)"
                    >
                    <label class="form-check-label">
                        {{ option }}
                    </label>
                </div>

                <div cdkDropList cdkDropListOrientation="mixed" class="example-list" (cdkDropListDropped)="drop($event)">
                    @for (item of items; track item) {
                        <div class="example-box" cdkDrag>{{item}}</div>
                    }
                </div>

                <div *ngIf="selectedFile == null" class="file-drop-area" (click)="fileInput.click()">
                    <span class="drop-text">Drag & drop a file or click to browse</span>
                    <input
                        type="file"
                        (change)="onFileSelect($event)"
                        #fileInput
                        hidden/>
                </div>
                <span *ngIf="selectedFile != null"> File uploaded successfully </span>
                
                <div formArrayName="formArrayData">
                    <div id="formarray" *ngFor="let item of formArrayData.controls; let i = index" [formGroupName]="i">
                        <label for="inputTexts-{{i}}">Text</label>
                        <input class="form-control" id="inputTexts-{{i}}" formControlName="inputTexts">
                        <label for="inputNumbers-{{i}}">Number</label>
                        <input type="number" 
                        class="form-control" 
                        id="inputNumbers-{{i}}" 
                        formControlName="inputNumbers"
                        pattern="\d*" 
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                        <button 
                        type="button" 
                        class="btn btn-danger" 
                        (click)="removeArrayData(i)"
                        [disabled]="formArrayData.controls.length === 1">Remove</button>
                    </div>
                </div>
                <button 
                type="button" 
                class="btn btn-primary w-50" 
                (click)="addArrayData()"
                [disabled]="!isLastGroupValid()"
                >Add</button>

            </div>
        </form>
    </div>
    <div class="card-footer">
        <button id="prevBtn" type="button" class="btn btn-secondary" [disabled]="stepperPage == 1" (click)="onPrevClick()">Previous</button>
        <button id="submitBtn" type="button" class="btn btn-success"  (click)="postData()">Submit</button>
        <button id="nextBtn" type="button" class="btn btn-primary" (click)="onNextClick()" [disabled]="stepperPage >= 2">Next</button>
    </div>
</div>